/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Setup for full-page height */
html, body{
  height:100%;
  margin:0;
  padding:0;
}
section, .parallax-container{
  /*height: 100%;
  min-height: 100vh;
  line-height: initial;*/
      min-height: 100%;
    line-height: initial;
}
section .pushpin-nav{
  z-index: 99;
}
section nav .brand-logo{
  color: white;
}
section nav ul li a:hover, section nav ul li a.active {
  background-color: rgba(0,0,0,.1);
}

section > .container{
  padding-top: calc(5vh + 2.1rem);
}
section .photo-credit{
  position: absolute;
  bottom: 5%;
  right: 2%;
}
#index-banner{
  height: calc(100% - 2.1rem);
  min-height: calc(100vh - 2.1rem);
}
#index-banner .section{
  margin-top: 10%;
  margin-top: 10vh;
  background-color: rgba(255,255,255,0.5);
}
#vendor-section{
  background-color: #ee6e73;
}